extends layout

block main
        div.container
            div#physical-zone
                - for (var link in links)
                    a(href=links[link]['url'], target='_blank', id=link, class='link '+links[link]['class'], title=link, data-size=links[link]['size'])
                        //img(src='/images/icons/' + link + '.png', alt=link, height=64, width=64)

